<input type="text" ng-model="ngModel" class="{{inputClass}}" id="{{inputId}}"
       uib-typeahead="city for city in queryCities($viewValue)" typeahead-loading="loadingCities"
       typeahead-no-results="noCitiesFound" typeahead-template-url="/template/widget/citySearchResult.html"
       typeahead-input-formatter="formatInput($model)" placeholder="Type to search"/>
<i ng-show="loadingCities" class="glyphicon glyphicon-refresh"></i>
<div ng-show="noCitiesFound">
    <i class="glyphicon glyphicon-remove"></i> <span ng-transclude></span>
</div>