<input type="text" ng-model="ngModel" ng-model-options="{getterSetter: true}" class="{{inputClass}}" id="{{inputId}}"
       uib-typeahead="state for state in query($viewValue)" typeahead-loading="loadingStates"
       typeahead-no-results="noStatesFound" typeahead-template-url="stateSearchResult.html"
       typeahead-input-formatter="formatInput($model)" placeholder="Type to search"
       typeahead-on-select="onSelect($item)" autocomplete="off"  maxlength="100"/>
<i ng-show="loadingStates" class="glyphicon glyphicon-refresh"></i>
<div ng-show="noStatesFound">
    <i class="glyphicon glyphicon-remove"></i> <span ng-transclude></span>
</div>

<script type="text/ng-template" id="stateSearchResult.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>