<div class="container">
    <a href="/admin/requestedPlaces">
        <div class="panel panel-default col-md-4 col-sm-3 col-xs-12">
            <div class="panel-heading">
                <h3 class="panel-title">Requested Places</h3>
            </div>
            <div class="panel-body">
                Add new places that users have requested!
            </div>
        </div>
    </a>
    <a href="/admin/userManagement">
        <div class="panel panel-default col-md-4 col-sm-3 col-xs-12">
            <div class="panel-heading">
                <h3 class="panel-title">User Management</h3>
            </div>
            <div class="panel-body">
                Here you can manage all your users: create new admins, delete users, ...
            </div>
        </div>
    </a>
    <div class="panel panel-default col-md-4 col-sm-3 col-xs-12">
        <div class="panel-heading">
            <h3 class="panel-title">Settings</h3>
        </div>
        <div class="panel-body">
            Change application settings
        </div>
    </div>
</div>