<div layout-padding>
    <h3 ng-show="allRequests.length === 0">Currently no pending place requests</h3>

    <md-card ng-repeat="request in allRequests">
        <md-card-content ng-init="initRequest(request)">
            <div layout>
                <md-input-container>
                    <label>Place name</label>
                    <input ng-model="request.place.name"/>
                </md-input-container>

                <md-input-container>
                    <label>Place identifier</label>
                    <input ng-model="request.place.identifier"/>
                </md-input-container>
            </div>

            <div layout>
                <md-autocomplete flex md-search-text="request.ui.city" md-selected-item="request.place.city"
                                 md-item-text="city.name"
                                 md-items="city in queryCity(request.ui.city)" md-min-length="2"
                                 md-delay="100"
                                 md-floating-label="City" ng-show="request.ui.citySearch">
                    <md-item-template>
                        <span md-highlight-text="request.ui.city">{{city.name}} ({{city.state.name}})</span>
                    </md-item-template>
                    <md-not-found>
                        No city found - <a href="" ng-click="request.ui.setCitySearch(false)">Change to manual input</a>
                    </md-not-found>
                </md-autocomplete>

                <md-button flex="none" ng-click="request.ui.setCitySearch(false)" ng-hide="request.place.city">
                    <md-tooltip md-direction="top">Manual input</md-tooltip>
                    <md-icon md-font-set="fa" md-font-icon="fa-pencil"></md-icon>
                </md-button>
            </div>

            <div layout="column" ng-hide="request.ui.citySearch">
                <div layout>
                    <md-button flex="none" ng-click="request.ui.setCitySearch(true)">
                        <md-tooltip md-direction="top">Back to city search</md-tooltip>
                        <md-icon md-font-set="fa" md-font-icon="fa-search"></md-icon>
                    </md-button>

                    <md-input-container flex>
                        <label>City name</label>
                        <input ng-model="request.place.city.name"/>
                    </md-input-container>

                    <md-input-container flex>
                        <label>City identifier</label>
                        <input ng-model="request.place.city.identifier"/>
                    </md-input-container>

                    <md-button flex="none" ng-click="createCity(request)">
                        <md-tooltip md-direction="top">Create city</md-tooltip>
                        <md-icon md-font-set="fa" md-font-icon="fa-check"></md-icon>
                    </md-button>
                </div>

                <div layout>
                    <md-autocomplete flex md-search-text="request.ui.state" md-selected-item="request.place.city.state"
                                     md-delay="100"
                                     md-item-text="state.name" md-items="state in queryState(request.ui.state)"
                                     md-min-length="2"
                                     md-floating-label="State" ng-show="request.ui.stateSearch">
                        <md-item-template>
                            <span md-highlight-text="request.ui.state">{{state.name}}</span>
                        </md-item-template>
                        <md-not-found>
                            No state found - <a href="" ng-click="request.ui.setStateSearch(false)">change to manual
                            input</a>
                        </md-not-found>
                    </md-autocomplete>

                    <md-button flex="none" ng-click="request.ui.setStateSearch(false)" ng-hide="request.place.city.state">
                        <md-tooltip md-direction="top">Manual input</md-tooltip>
                        <md-icon md-font-set="fa" md-font-icon="fa-pencil"></md-icon>
                    </md-button>
                </div>

                <div layout ng-hide="request.ui.stateSearch">
                    <md-button flex="none" ng-click="request.ui.setStateSearch(true)">
                        <md-tooltip md-direction="top">Back to state search</md-tooltip>
                        <md-icon md-font-set="fa" md-font-icon="fa-search"></md-icon>
                    </md-button>

                    <md-input-container flex>
                        <label>State name</label>
                        <input ng-model="request.place.city.state.name"/>
                    </md-input-container>

                    <md-input-container flex>
                        <label>State identifier</label>
                        <input ng-model="request.place.city.state.identifier"/>
                    </md-input-container>

                    <md-button flex="none" ng-click="createState(request)">
                        <md-tooltip md-direction="top">Create city</md-tooltip>
                        <md-icon md-font-set="fa" md-font-icon="fa-check"></md-icon>
                    </md-button>
                </div>
            </div>

            <md-input-container>
                <label>Location of your place</label>
                <input required ng-model="request.place.location"/>
            </md-input-container>
        </md-card-content>
        <md-card-actions>
            <div layout="row" layout-align="space-between center">
                <div flex="none">
                    Requested by {{request.requestingUser.username}},
                    <time class="time-ago" datetime="{{request.createdDateTime}}">
                        <md-tooltip md-direction="top">{{request.createdDateTime | time}}</md-tooltip>
                        {{request.createdDateTime | time}}
                    </time>
                </div>
                <div layout flex="none">
                    <md-button ng-click="decline($index)">
                        <md-tooltip md-direction="top">Decline place request</md-tooltip>
                        <md-icon md-font-set="fa" md-font-icon="fa-trash"></md-icon>
                    </md-button>
                    <md-button ng-click="save($index)">
                        <md-tooltip md-direction="top">Accept place request</md-tooltip>
                        <md-icon md-font-set="fa" md-font-icon="fa-check"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-card-actions>
    </md-card>
</div>