<div flex layout="column" layout-padding>
    <div layout layout-align="space-between start">
        <md-input-container flex>
            <label>Role</label>
            <md-select ng-model="selectedRole" ng-model-options="{trackBy: '$value.name'}">
                <md-option ng-value="role" ng-repeat="role in allRoles | orderBy:'name'">{{ role.name }}</md-option>
            </md-select>
        </md-input-container>

        <div layout flex="none">
            <md-button id="role-management__add-role" ng-click="addRole()">
                <md-tooltip md-direction="top">Create new role</md-tooltip>
                <md-icon md-font-set="fa" md-font-icon="fa-plus"></md-icon>
            </md-button>
            <md-button ng-click="removeSelectedRole()" ng-disabled="selectedRole.systemRole">
                <md-tooltip md-direction="top">Remove role</md-tooltip>
                <md-icon md-font-set="fa" md-font-icon="fa-trash"></md-icon>
            </md-button>
        </div>
    </div>
    <div layout ng-show="selectedRole">
        <md-input-container flex>
            <label>Permissions</label>
            <md-select ng-model="selectedRole.permissions" multiple>
                <md-option ng-value="permission" ng-repeat="permission in allPermissions | orderBy">{{ permission }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-button flex="none" ng-click="assignPermissions()">
            <md-tooltip md-direction="top">Assign permissions</md-tooltip>
            <md-icon md-font-set="fa" md-font-icon="fa-check"></md-icon>
        </md-button>
    </div>
</div>


<script type="text/ng-template" id="roleCreateModal.html">
    <md-dialog aria-label="Create new role-dialog" class="ng-cloak">
        <md-dialog-content layout="column">
            <md-toolbar>
                <div class="md-toolbar-tools">Create a new role</div>
            </md-toolbar>

            <form layout layout-padding ng-submit="create()">
                <md-input-container>
                    <label>Role name</label>
                    <input required="required" ng-model="roleName"/>
                </md-input-container>
                <md-button flex="none" ng-click="assignPermissions()">
                    <md-tooltip md-direction="top">Assign permissions</md-tooltip>
                    <md-icon md-font-set="fa" md-font-icon="fa-check"></md-icon>
                </md-button>
            </form>
        </md-dialog-content>
    </md-dialog>
</script>