<div class="container">
    <div class="row">
        <h1>Configure Crowdsupport</h1>
    </div>

    <h3 class="text-center">Actions</h3>
    <div class="row">
        <div class="col-md-4 col-sm-3 col-xs-12">
            <a ng-click="refreshToken() ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Refresh application token</h3>
                    </div>
                    <div class="panel-body">
                        This will refresh the secret token used for building authentication tokens. Afterwards,
                        everybody will have to sign in again!
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>