<div flex layout="column" layout-padding>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Refresh application token</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            This will refresh the secret token used for building authentication tokens. Afterwards,
            everybody will have to sign in again!
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="refreshToken()">
                <md-tooltip md-direction="top">Refresh token</md-tooltip>
                <md-icon md-font-set="fa" md-font-icon="fa-check"></md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
</div>