<div flex layout="column" layout-padding>
    <md-autocomplete md-search-text="searchText" md-selected-item="edit" md-items="user in query(searchText)"
                     md-item-text="user.username" md-min-length="2" md-delay="100" md-floating-label="User search">
        <md-item-template>
            <span md-highlight-text="searchText">{{user.username}}</span>
        </md-item-template>
    </md-autocomplete>

    <div flex layout="column" ng-show="edit">
        <!-- oh god, why chrome, why? /o\ -->
        <input type="text" class="dontfeedthechrome">
        <input type="password" class="dontfeedthechrome">

        <md-input-container>
            <label>Username</label>
            <input autocomplete="off" autofocus="true" required="true" ng-model="edit.username"/>
        </md-input-container>

        <md-input-container>
            <label>Password</label>
            <input type="password" pattern="|.{4,}" ng-model="edit.password"/>
        </md-input-container>

        <md-input-container>
            <label>E-Mail</label>
            <input type="email" ng-model="edit.email"/>
        </md-input-container>

        <md-input-container>
            <label>Roles</label>
            <md-select ng-model="edit.roles" multiple>
                <md-option ng-value="role.name" ng-repeat="role in allRoles | orderBy:'name'">{{ role.name }}</md-option>
            </md-select>
        </md-input-container>

        <md-button ng-click="save()">
            <md-tooltip md-direction="top">Change details</md-tooltip>
            <md-icon md-font-set="fa" md-font-icon="fa-check"></md-icon>
        </md-button>
    </div>
</div>