<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:fragment="head (title)">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption|PT+Sans|PT+Serif' rel='stylesheet'
          type='text/css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/style/stylesheet.css"/>
    <title th:text="'Crowdsupport - ' + ${title}">Crowdsupport - Subpage</title>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-left" href="/">Crowdsupport</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-right navbar-userarea">
                <div th:unless="${session.user == null}">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span th:text="${session.user.username}">Testuser</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/profile" class="btn btn-default" >Profile</a></li>
                            <li><a href="/logout" class="btn btn-default">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div th:if="${session.user == null}" class="btn-group" role="group">
                    <a href="/login" class="btn btn-default">Login</a>
                    <a href="register" class="btn btn-default">Register</a>
                </div>
            </div>

        </div>
    </div>
</nav>

<div th:fragment="scripts">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</div>
</body>
</html>