<form ng-submit="create()" class="form-horizontal">
    <div class="modal-header">
        <h3 class="modal-title">Add new request</h3>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="control-label col-sm-2" for="title">Title</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="title" placeholder="Title" ng-model="request.title"
                       required="required"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="description">Description</label>
            <div class="col-sm-8">
                <textarea type="text" class="form-control" id="description" placeholder="Description"
                          ng-model="request.description" required="required"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="validto">Valid to</label>
            <div class="col-sm-8" id="validto">
                <input type="checkbox" class="" ng-model="neverExpires" id="neverExpires"/>
                <label for="neverExpires" class="control-label">Never expires</label>

                <div ng-hide="neverExpires">
                    <div class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd.MM.yyyy HH:mm" ng-model="date"
                               min-date="minDate" close-text="Close" is-open="opened" timepicker-options="timeOptions"
                               ng-required="!neverExpires"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="opened = true"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="quantity">Quantity</label>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="quantity"
                               ng-model="request.quantity"/>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Liters, bottles, people..."
                               ng-model="request.units" ng-required="request.quantity"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="tag">Tags</label>
            <div class="col-sm-8">
                <tag-search ng-model="inputTag" update-on-select="tag" input-class="form-control" input-id="tag"
                            omit-no-results="true" on-keypress="addTag"></tag-search>
                <div>
                    <span ng-repeat="tag in request.tags">
                        <a ng-click="removeTag($index)" uib-tooltip="Remove tag">{{tag.name}}</a><span ng-hide="$last"> | </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</form>