<div flex layout layout-padding layout-align="space-around center" layout-wrap>
    <md-card flex-xs="80" flex-sm="50" flex-gt-sm="33" ng-repeat="place in city.places" id="places__{{place.identifier}}">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{place.name}}</span>
                <span class="md-subhead">{{place.location}}</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <img ng-src="{{place.imagePath}}"/>
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button href="/support/{{place.city.state.identifier}}/{{place.city.identifier}}/{{place.identifier}}"
            class="places__place-button">
                Requests
            </md-button>
        </md-card-actions>
    </md-card>
</div>