<div layout="column" class="main-container">
    <p md-whiteframe="1" layout-padding>Crowdsupport allows you to quickly see where your help is needed!</p>

    <div layout="column" layout-padding class="dashboard__search" md-whiteframe="1">
        <md-input-container>
            <label>Search for places</label>
            <input>
        </md-input-container>
        <div>or</div>
        <div>
            <a href="/support">browse through all states</a>
        </div>
    </div>

    <div layout-gt-xs="row" layout-padding layout-xs="column" md-whiteframe="1">
        <div flex-gt-xs="33">
            <h3>Geography</h3>

            <div><strong>{{states}}</strong> states</div>
            <div><strong>{{cities}}</strong> cities</div>
            <div><strong>{{places}}</strong> places</div>
        </div>

        <div flex-gt-xs="33">
            <h3>Requests</h3>

            <canvas id="doughnut" class="chart chart-doughnut" chart-data="pieData" chart-labels="pieLabels"
                    chart-legend="true" chart-colours="pieColours" chart-options="pieOptions">
            </canvas>
        </div>
        <div flex-gt-xs>
            <h3>Users</h3>

            <div><strong>{{totalUsers}}</strong> users</div>
            <div><strong>{{newVisitors}}</strong> new visitors since you are here</div>
        </div>
    </div>

    <div layout="column" layout-padding md-whiteframe="1">
        <!-- TODO test and style -->
        <h2>Your teams</h2>

        <div layout layout-padding md-whiteframe="1">
            <div ng-repeat="place in $root.user.managedPlaces">
                <a href="/support/{{place.city.state.identifier}}/{{place.city.identifier}}/{{place.identifier}}">
                    <img ng-src="{{place.imagePath}}" class="center-block"/>

                    <div class="text">
                        {{place.name}}
                        ({{place.location}})
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>