<div layout-padding flex class="main-container">
    <p md-whiteframe="1" layout-padding>Crowdsupport allows you to quickly see where your help is needed!</p>

    <div layout="column" layout-padding class="dashboard__search" md-whiteframe="1">
        <md-autocomplete md-search-text="searchText" md-selected-item="selectedPlace" md-items="place in query(searchText)"
                         md-item-text="place.name" md-min-length="2" md-delay="100" md-floating-label="Seach for places"
                         md-selected-item-change="gotoPlace(selectedPlace)">
            <md-item-template>
                <md-button>
                    <md-icon md-font-set="fa" md-font-icon="fa-arrow-circle-right"></md-icon>
                </md-button>

                <span md-highlight-text="searchText">{{place.name}} ({{place.city.name}} / {{place.city.state.name}})</span>
            </md-item-template>
        </md-autocomplete>

        <div>or</div>
        <div>
            <md-button href="/support" id="dashboard__browse-states-button">browse through all states</md-button>
        </div>
    </div>

    <div layout-gt-xs="row" layout-padding layout-xs="column" md-whiteframe="1">
        <div flex-gt-xs="33">
            <h3>Geography</h3>

            <div><strong>{{states}}</strong> states</div>
            <div><strong>{{cities}}</strong> cities</div>
            <div><strong>{{places}}</strong> places</div>
        </div>

        <div flex-gt-xs="33">
            <h3>Requests</h3>

            <canvas id="doughnut" class="chart chart-doughnut" chart-data="pieData" chart-labels="pieLabels"
                    chart-legend="true" chart-colours="pieColours" chart-options="pieOptions">
            </canvas>
        </div>
        <div flex-gt-xs>
            <h3>Users</h3>

            <div><strong>{{totalUsers}}</strong> users</div>
            <div><strong>{{newVisitors}}</strong> new visitors since you are here</div>
        </div>
    </div>

    <div layout="column" layout-padding md-whiteframe="1" ng-if="$root.user.managedPlaces.length > 0">
        <h2>Your teams</h2>

        <div layout>
            <div ng-repeat="place in $root.user.managedPlaces" layout-padding md-whiteframe="1">
                <a href="/support/{{place.city.state.identifier}}/{{place.city.identifier}}/{{place.identifier}}">
                    <img ng-src="{{place.imagePath}}" class="center-block"/>

                    <div class="text">
                        {{place.name}}
                        ({{place.location}})
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>