<div class="container">
    <div class="row">
        <h1>Crowdsupport</h1>
        <p class="text-center">allows you to quickly see where your help is needed!</p>
    </div>

    <div class="row">
        <input type="text" class="form-control placesearch text-center im-centered" placeholder="Type to search for places"/>
        <div class="text-center">
            or<br/>
            <a href="/support">browse through all states</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-xs-12 text-center statistic-data">
            <h3>Geography</h3>

            <div><strong>{{states}}</strong> states</div>
            <div><strong>{{cities}}</strong> cities</div>
            <div><strong>{{places}}</strong> places</div>
        </div>
        <div class="col-sm-4 col-xs-12 text-center statistic-data">
            <h3>Requests</h3>

            <canvas id="doughnut" class="chart chart-doughnut" chart-data="pieData" chart-labels="pieLabels"
                    chart-legend="true" chart-colours="pieColours" chart-options="pieOptions">
            </canvas>
        </div>
        <div class="col-sm-4 col-xs-12 text-center statistic-data">
            <h3>Users</h3>

            <div><strong>{{totalUsers}}</strong> users</div>
            <div><strong>{{newVisitors}}</strong> new visitors since you are here</div>
        </div>
    </div>

    <div class="row center-block" ng-if="$root.user.managedPlaces.length > 0">
        <h2>Your teams</h2>
        <!-- TODO: replace with template -->
        <div ng-repeat="place in $root.user.managedPlaces" class="result box col-md-2 col-sm-6 col-xs-6">
            <a href="/support/{{place.city.state.identifier}}/{{place.city.identifier}}/{{place.identifier}}">
                <img ng-src="{{place.imagePath}}" class="center-block"/>

                <div class="text">
                    {{place.name}}
                    ({{place.location}})
                </div>
            </a>
        </div>
    </div>
</div>