<div flex layout="column">
    <section>
        <p>{{place.name}} @ {{place.location}}
            ({{place.city.name}})
        </p>
    </section>

    <section flex layout="column" ng-controller="DonationRequestsCtrl">
        <md-grid-list flex md-cols-xs="1" md-cols-sm="2" md-cols-gt-sm="3" md-gutter="1em" md-row-height="300px">
            <md-grid-tile ng-repeat="req in donationRequests | filter : filter : true | orderBy : order"
                          md-rowspan="{{req.ui.rows}}" class="animate-repeat donation-request" ng-class="req.ui.state">
                <md-card flex>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{req.title}}</span>
                            <span class="md-subhead donation-request__age">
                                <time class="time-ago" datetime="{{req.createdDateTime}}"
                                      uib-tooltip="{{req.createdDateTime | time}}"
                                      tooltip-append-to-body="true">
                                    {{req.createdDateTime | time}}
                                </time>
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="column">
                        <p>{{req.description}}</p>

                        <div layout="column" ng-if="req.quantity">
                            <div layout>
                                <div flex="20">Need</div>
                                <div flex> <!-- uib-tooltip-template="'tooltip.html'" -->
                                    {{req.ui.quantityLeft | posNum}} {{req.units}} <span
                                            ng-show="req.ui.quantityLeft != req.quantity">(of {{req.quantity}})</span>
                                </div>
                            </div>

                            <md-progress-linear class="md-accent" md-mode="buffer" value="{{req.ui.pConfirmed}}"
                                                md-buffer-value="{{req.ui.pConfirmed + req.ui.pPromised}}"></md-progress-linear>
                        </div>

                        <div layout ng-if="req.validToDateTime">
                            <div flex="20">Expires</div>
                            <div flex>{{req.validToDateTime}}</div>
                        </div>

                        <md-chips ng-if="req.tags && req.tags.length > 0" ng-model="req.tags" readonly="true">
                            <md-chip-template><span ng-click="addTagToFilter($chip)">{{$chip.name}}</span></md-chip-template>
                        </md-chips>

                        <div ng-show="req.ui.showComments">
                            <div class="comments" ng-show="req.comments">
                                <div ng-repeat="comment in req.comments" ng-class="{done: comment.confirmed}"
                                     class="comment panel panel-default panel-body">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="pic"></div>
                                        </div>
                                        <div class="media-body">
                                            <b>{{comment.author.username}}</b>: {{comment.text}}

                                            <p class="pull-right" ng-if="comment.quantity > 0">{{comment.quantity}}
                                                {{req.units}}</p>
                                        </div>
                                    </div>
                                    <div ng-if="inTeam()" class="pull-right">
                                        <button class="btn btn-xs" uib-tooltip="Delete comment"
                                                tooltip-append-to-body="true"
                                                ng-click="deleteComment(comment.id)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <button class="btn btn-xs" uib-tooltip="Confirm donation"
                                                tooltip-append-to-body="true"
                                                ng-click="confirmComment(comment.id)" ng-if="!req.resolved">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="well" ng-show="$root.user && !req.resolved">
                                <form ng-submit="req.ui.sendComment()" name="commentForm">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="pic"></div>
                                        </div>
                                        <div class="media-body">
                                        <textarea class="form-control" placeholder="New comment..." rows="2"
                                                  ng-model="req.ui.commentText" maxlength="100"></textarea>
                                            <div class="form-inline">
                                                <div class="input-group" ng-show="req.quantity">
                                                    <input class="form-control" type="number" min="0" max="9999"
                                                           placeholder="{{req.ui.quantityLeft | posNum}}"
                                                           ng-model="req.ui.commentQuantity"/>
                                                    <div class="input-group-addon">{{req.units}}</div>
                                                </div>

                                                <button class="pull-right btn btn-default"
                                                        ng-disabled="req.ui.commentText.length === 0">Send
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="toggleComments(req)">
                            <md-icon md-font-set="fa" md-font-icon="fa-comments"></md-icon>
                        </md-button>
                        <div layout="row" ng-if="inTeam()">
                            <md-button ng-click="deleteRequest(req.id)">
                                <md-icon md-font-set="fa" md-font-icon="fa-trash-o"></md-icon>
                            </md-button>
                            <md-button ng-click="resolveRequest(req.id)">
                                <md-icon md-font-set="fa" md-font-icon="fa-check"></md-icon>
                            </md-button>
                        </div>
                    </md-card-actions>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
    </section>

    <md-fab-speed-dial md-open="speedDial.isOpen" ng-if="inTeam()" md-direction="up"
                       class="md-scale md-fab-bottom-right md-hover-full place__speed-dial"
                       ng-mouseenter="speedDial.isOpen=true" ng-mouseleave="speedDial.isOpen=false">
        <md-fab-trigger>
            <md-button class="md-fab md-warn">
                <md-icon md-font-set="fa" md-font-icon="fa-wrench"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button class="md-fab md-mini md-primary">
                <md-tooltip md-direction="left" md-visible="speedDial.tooltipVisible">Add new request</md-tooltip>
                <md-icon md-font-set="fa" md-font-icon="fa-plus"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini md-primary">
                <md-tooltip md-direction="left" md-visible="speedDial.tooltipVisible">Manage place</md-tooltip>
                <md-icon md-font-set="fa" md-font-icon="fa-cogs"></md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>

<script type="text/ng-template" id="tooltip.html">
    <span>
        Confirmed: {{req.ui.confirmed}}<br/>
        En route: {{req.ui.promised}}
    </span>
</script>

<script type="text/ng-template" id="addRequest.html">
    <form ng-submit="create()" class="ng-cloak form-horizontal">
        <div class="modal-header">
            <h3 class="modal-title">Add new request</h3>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label class="control-label col-sm-2" for="title">Title</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="title" placeholder="Title" ng-model="request.title"
                           required="required" maxlength="20"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="description">Description</label>
                <div class="col-sm-8">
                <textarea type="text" class="form-control" id="description" placeholder="Description"
                          ng-model="request.description" required="required" maxlength="400" cols="4"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="validto">Valid to</label>
                <div class="col-sm-8" id="validto">
                    <input type="checkbox" class="" ng-model="neverExpires" id="neverExpires"/>
                    <label for="neverExpires" class="control-label">Never expires</label>

                    <div ng-hide="neverExpires">
                        <div class="input-group">
                            <input type="text" class="form-control" datetime-picker="dd.MM.yyyy HH:mm" ng-model="date"
                                   min-date="minDate" close-text="Close" is-open="opened"
                                   timepicker-options="timeOptions"
                                   ng-required="!neverExpires"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="opened = true"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="quantity">Quantity</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="quantity"
                                   ng-model="request.quantity"/>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Liters, bottles, people..."
                                   ng-model="request.units" ng-disabled="!request.quantity"
                                   ng-required="request.quantity" maxlength="15"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="tag">Tags</label>
                <div class="col-sm-8">
                    <tag-search ng-model="inputTag" update-on-select="tag" input-class="form-control" input-id="tag"
                                omit-no-results="true" on-keypress="addTag"></tag-search>
                    <div>
                    <span ng-repeat="tag in request.tags">
                        <a ng-click="removeTag($index)" uib-tooltip="Remove tag">{{tag.name}}</a><span ng-hide="$last"> | </span>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>
    </form>
</script>