<div class="container-fluid place">
    <div class="row">
        <nav class="navbar">
            <p class="navbar-text">{{place.name}} @ {{place.location}}
                ({{place.city.name}})
            </p>

            <div class="navbar-right options">
                <div class="btn-group filtertoggle">
                    <label class="btn btn-default" ng-model="f.open" uib-btn-checkbox>Donations needed</label>
                    <label class="btn btn-warning" ng-model="f.enroute" uib-btn-checkbox>Enough en route</label>
                    <label class="btn btn-success" ng-model="f.done" uib-btn-checkbox>Past</label>
                </div>
                <span class="orga" ng-if="inTeam()">
                    <a href="/support/{{place.city.state.identifier}}/{{place.city.identifier}}/{{place.identifier}}/manage"><span
                            uib-tooltip="Manage place" class="btn glyphicon glyphicon-wrench"></span></a>
                    <a href="" ng-click="addRequest()"><span uib-tooltip="Add request" tooltip-append-to-body="true"
                                                             class="btn glyphicon glyphicon-plus"></span></a>
                </span>
            </div>
        </nav>
    </div>

    <div class="row" id="donationrequests" ng-controller="DonationRequestsCtrl">
        <div ng-repeat="req in donationRequests | orderBy : order | filter : filter : true" ng-class="req.ui.state" class="request col-md-3 col-sm-3 col-xs-12">
            <div class="panel panel-default panel-body">
                <div class="age time-ago" title="{{req.createdDateTime}}"></div>

                <h3>{{req.title}}</h3>
                <p>{{req.description}}</p>

                <div ng-if="req.quantity">
                    <div class="justified-and-inlined">
                        <div>Need</div>
                        <div uib-tooltip-template="'tooltip.html'">
                            {{req.ui.quantityLeft | posNum}} {{req.unit}} <span ng-show="req.ui.quantityLeft != req.quantity">(of {{req.quantity}})</span>
                        </div>
                    </div>

                    <uib-progress>
                        <uib-bar value="req.ui.pConfirmed" type="success" class="progress-striped"
                                 uib-tooltip="Confirmed">
                            <span ng-hide="req.ui.pConfirmed < 20">{{req.ui.confirmed}}</span>
                        </uib-bar>
                        <uib-bar value="req.ui.pPromised" type="warning" class="progress-striped"
                                 uib-tooltip="En route">
                            <span ng-hide="req.ui.pPromised < 20">{{req.ui.promised}}</span>
                        </uib-bar>
                    </uib-progress>
                </div>

                <div class="tags">
                    <span ng-repeat="tag in req.tags">{{tag}} <span ng-if="!$last">| </span></span>
                </div>

                <div class="justified-and-inlined" ng-if="req.validToDateTime">
                    <div>Expires</div>
                    <div>{{req.validToDateTime}}</div>
                </div>

                <div class="comments" ng-show="req.comments">
                    <div ng-repeat="comment in req.comments" class="panel panel-default panel-body">
                        <div class="media">
                            <div class="media-left">
                                <div class="pic"></div>
                            </div>
                            <div class="media-body">
                                <b>{{comment.author.username}}</b>: {{comment.text}}

                                <p class="pull-right" ng-if="comment.quantity > 0">{{comment.quantity}} {{req.unit}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="well" ng-show="$root.user && req.active">
                    <form ng-submit="req.ui.sendComment()" name="commentForm">
                        <div class="media">
                            <div class="media-left">
                                <div class="pic"></div>
                            </div>
                            <div class="media-body">
                                <b class="media-heading">{{$root.user.username}}</b>
                                <textarea class="form-control" placeholder="New comment..." ng-model="req.ui.commentText"></textarea>
                                <input class="form-control" type="number" placeholder="Qty" ng-model="req.ui.commentQuantity" ng-show="req.quantity"/>

                                <button class="pull-right btn btn-default" ng-disabled="req.ui.commentText.length === 0">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="tooltip.html">
    <span>
        Confirmed: {{req.ui.confirmed}}<br/>
        En route: {{req.ui.promised}}
    </span>
</script>