<div class="container">
    <div class="row">
        <h1>Request a new place</h1>
    </div>

    <div class="row">
        <form  ng-submit="ctrl.submit()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="What's the name of your place?"
                       autofocus="true" required="required" ng-model="name" maxlength="100"/>
            </div>
            <div class="form-group">
                <label for="identifier">Identifier</label>
                <input type="text" class="form-control" id="identifier" name="identifier" placeholder="Unique identifier"
                       required="required" ng-model="identifier" maxlength="50" uib-tooltip="The identifier will be used in the URL"/>
            </div>

            <div class="form-group" ng-hide="addCity">
                <!-- We don't want no AutoFill! See: https://code.google.com/p/chromium/issues/detail?id=468153#c106 -->
                <label for="c">Ci<span style="display: none">This is a workaround for Chrome's stupid AutoFill feature</span>ty</label>
                <city-search ng-model="city" input-class="form-control" input-id="c">
                    No city found - <a href="" ng-click="addCityInfo()">manually enter information for a new one!</a>
                </city-search>
            </div>
            <div class="form-group" ng-show="addCity">
                <label for="ctyname">Ci<span style="display: none">This is a workaround for Chrome's stupid AutoFill feature</span>ty name</label>
                <input type="text" class="form-control" id="ctyname" name="ctyname" placeholder="City name" ng-model="cityname"/>
                <label for="statename">State name</label>
                <input type="text" class="form-control" id="statename" name="statename" placeholder="State name" ng-model="statename"/>
                <a href="" ng-click="searchCity()">...back to search</a>
            </div>

            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location" required="required" ng-model="location"
                       placeholder="Where is your place? (eg. 'Corporation Street', 'Train Station', ...)"/>
            </div>
            <input type="submit" class="btn btn-default" value="Request new place"/>
        </form>
    </div>
</div>