<div flex layout-padding>
    <form layout="column" ng-submit="ctrl.submit()">
        <md-input-container>
            <label>Place name</label>
            <input autofocus="true" required="required" ng-model="name" md-maxlength="100"/>
        </md-input-container>

        <md-input-container>
            <label>Unique identifier</label>
            <input required="required" ng-model="identifier" md-maxlength="50"/>
        </md-input-container>

        <md-autocomplete md-search-text="citySearch" md-selected-item="city" md-item-text="city.name"
                         md-items="city in queryCity(citySearch)" md-min-length="2" md-delay="100"
                         md-floating-label="City" ng-hide="addCity">
            <md-item-template>
                <span md-highlight-text="citySearch">{{city.name}} ({{city.state.name}})</span>
            </md-item-template>
            <md-not-found>
                No city found - <a href="" ng-click="addCityInfo()">don't worry, that's fine!</a>
            </md-not-found>
        </md-autocomplete>

        <div ng-show="addCity" layout>
            <md-input-container flex>
                <label>City name</label>
                <input ng-model="cityname"/>
            </md-input-container>

            <md-input-container flex>
                <label>State name</label>
                <input ng-model="statename"/>
            </md-input-container>

            <md-button flex="none" ng-click="searchCity()">
                <md-tooltip md-direction="top">Back to city search</md-tooltip>
                <md-icon md-font-set="fa" md-font-icon="fa-search"></md-icon>
            </md-button>
        </div>

        <md-input-container>
            <label>Location of your place</label>
            <input required="required" ng-model="location"/>
        </md-input-container>

        <md-button type="submit">
            <md-tooltip md-direction="top">Request new place</md-tooltip>
            <md-icon md-font-set="fa" md-font-icon="fa-check"></md-icon>
        </md-button>
    </form>
</div>
