<div flex layout-padding>
    <form name="placeRequestForm" layout="column" ng-submit="ctrl.submit()">
        <md-input-container>
            <label>Place name</label>
            <input autofocus required ng-model="name" md-maxlength="100" name="name"/>
            <div ng-messages="placeRequestForm.name.$error">
                <ng-message when="required">Name is required</ng-message>
                <ng-message when="md-maxlength">Name must not be longer than 100 characters</ng-message>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Unique identifier</label>
            <input required ng-model="identifier" md-maxlength="50" name="identifier" pattern="[a-z]*"/>
            <div ng-messages="placeRequestForm.identifier.$error">
                <ng-message when="required">Identifier is required</ng-message>
                <ng-message when="pattern">Identifier must only have lowercase characters</ng-message>
            </div>
        </md-input-container>

        <md-autocomplete md-search-text="citySearch" md-selected-item="city" md-item-text="city.name"
                         md-items="city in queryCity(citySearch)" md-min-length="2" md-delay="100"
                         md-floating-label="City" ng-hide="addCity">
            <md-item-template>
                <span md-highlight-text="citySearch">{{city.name}} ({{city.state.name}})</span>
            </md-item-template>
            <md-not-found>
                No city found - <a href="" ng-click="addCityInfo()">don't worry, that's fine!</a>
            </md-not-found>
        </md-autocomplete>

        <div ng-show="addCity" layout>
            <md-input-container flex>
                <label>City name</label>
                <input ng-model="cityname" name="cityName" ng-required="addCity"/>
                <div ng-messages="placeRequestForm.cityName.$error">
                    <ng-message when="required">You have to enter a city name, or search an existing one!</ng-message>
                </div>
            </md-input-container>

            <md-input-container flex>
                <label>State name</label>
                <input ng-model="statename" name="stateName" ng-required="addCity"/>
                <div ng-messages="placeRequestForm.stateName.$error">
                    <ng-message when="required">You have to enter a state name, or search an existing city!</ng-message>
                </div>
            </md-input-container>

            <md-button flex="none" ng-click="searchCity()">
                <md-tooltip md-direction="top">Back to city search</md-tooltip>
                <md-icon md-font-set="fa" md-font-icon="fa-search"></md-icon>
            </md-button>
        </div>

        <md-input-container>
            <label>Location of your place</label>
            <input required ng-model="location" name="location"/>
            <div ng-messages="placeRequestForm.location.$error">
                <ng-message when="required">Location is required!</ng-message>
            </div>
        </md-input-container>

        <md-button type="submit" ng-disabled="placeRequestForm.$invalid">
            <md-tooltip md-direction="top">Request new place</md-tooltip>
            <md-icon md-font-set="fa" md-font-icon="fa-check"></md-icon>
        </md-button>
    </form>
</div>
