<md-tabs md-swipe-content flex>
    <md-tab label="Team Members">
        <div layout="column" layout-padding>
            <md-autocomplete md-search-text="searchText" md-items="user in query(searchText)" md-no-cache
                             md-item-text="user.username" md-selected-item-change="addMember(user, true)"
                             md-min-length="2" md-delay="100" md-floating-label="User search">
                <md-item-template>
                    <div layout="row">
                        <md-button class="md-primary md-fab md-mini" ng-click="addMember(user, false, $event)">
                            <md-tooltip md-direction="top">Add user to team</md-tooltip>
                            <md-icon md-font-set="fa" md-font-icon="fa-check"></md-icon>
                        </md-button>

                        <span md-highlight-text="searchText">{{user.username}}</span>
                    </div>
                </md-item-template>
            </md-autocomplete>
            <div ng-repeat="member in members">
                <md-button class="md-fab md-mini" ng-click="removeMember(member.username)">
                    <md-tooltip md-direction="top">Remove user from team</md-tooltip>
                    <md-icon md-font-set="fa" md-font-icon="fa-times"></md-icon>
                </md-button>
                {{member.username}}
            </div>
        </div>
    </md-tab>
</md-tabs>