<div flex layout-padding>
    <section>
        <p>{{place.name}} @ {{place.location}}
            ({{place.city.name}})
        </p>
    </section>

    <section flex layout="column" ng-controller="DonationRequestsCtrl">
        <md-grid-list flex md-cols-xs="1" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="3" md-gutter="1em"
                      md-row-height="500px">
            <md-grid-tile ng-repeat="req in donationRequests | filter : filter : true | orderBy : order"
                          md-rowspan="{{req.ui.rows}}" class="animate-repeat donation-request" ng-class="req.ui.state">
                <md-card flex class="ng-cloak">
                    <md-card-title flex="none">
                        <md-card-title-text>
                            <span class="md-headline">{{req.title}}</span>
                            <span class="md-subhead donation-request__age">
                                <time class="time-ago" datetime="{{req.createdDateTime}}">
                                    <md-tooltip md-direction="top">{{req.createdDateTime | time}}</md-tooltip>
                                    {{req.createdDateTime | time}}
                                </time>
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content flex layout="column" layout-align="space-between">
                        <div class="donation-request__description">{{req.description}}</div>

                        <div layout="column" ng-if="req.quantity">
                            <div layout>
                                <div flex="20">Need</div>
                                <div flex> <!-- uib-tooltip-template="'tooltip.html'" -->
                                    {{req.ui.quantityLeft | posNum}} {{req.units}} <span
                                            ng-show="req.ui.quantityLeft != req.quantity">(of {{req.quantity}})</span>
                                </div>
                            </div>

                            <md-progress-linear class="md-accent" md-mode="buffer" value="{{req.ui.pConfirmed}}"
                                                md-buffer-value="{{req.ui.pConfirmed + req.ui.pPromised}}"></md-progress-linear>
                        </div>

                        <div layout ng-if="req.validToDateTime">
                            <div flex="20">Expires</div>
                            <div flex>{{req.validToDateTime | time}}</div>
                        </div>

                        <div ng-show="req.ui.showComments" layout="column">
                            <div ng-show="req.comments" class="comments">
                                <div ng-repeat="comment in req.comments" class="comment"
                                     ng-class="{done: comment.confirmed}">
                                    <md-card>
                                        <md-card-header>
                                            <md-card-avatar>
                                                <img class="md-user-avatar" ng-src="{{comment.author.imagePath}}"/>
                                            </md-card-avatar>
                                            <md-card-header-text>
                                                <span class="md-title">{{comment.author.username}}</span>
                                                <span class="md-subhead" ng-if="comment.quantity > 0">{{comment.quantity}} {{req.units}}</span>
                                            </md-card-header-text>
                                        </md-card-header>
                                        <md-card-content>
                                            {{comment.text}}
                                        </md-card-content>
                                        <md-card-actions layout="row" layout-align="end center" ng-if="inTeam()">
                                            <md-button ng-click="deleteComment(comment.id)">
                                                <md-tooltip md-direction="top">Delete comment</md-tooltip>
                                                <md-icon md-font-set="fa" md-font-icon="fa-trash"></md-icon>
                                            </md-button>
                                            <md-button ng-click="confirmComment(comment.id)" ng-if="!req.resolved">
                                                <md-tooltip md-direction="top">Donation received</md-tooltip>
                                                <md-icon md-font-set="fa" md-font-icon="fa-check"></md-icon>
                                            </md-button>
                                        </md-card-actions>
                                    </md-card>
                                </div>
                            </div>

                            <div ng-show="$root.user && !req.resolved">
                                <form ng-submit="req.ui.sendComment()" class="comment">
                                    <md-card>
                                        <md-card-header>
                                            <md-card-avatar>
                                                <img class="md-user-avatar" ng-src="{{$root.user.imagePath}}"/>
                                            </md-card-avatar>
                                            <md-card-header-text>
                                                <span class="md-title">{{$root.user.username}}</span>
                                            </md-card-header-text>
                                        </md-card-header>
                                        <md-card-content>
                                            <md-input-container class="comment__text">
                                                <label>Comment</label>
                                                <textarea ng-model="req.ui.commentText" rows="2"
                                                          md-maxlength="100"></textarea>
                                            </md-input-container>
                                        </md-card-content>
                                        <md-card-actions layout="row" layout-align="end center">
                                            <md-input-container flex class="comment__quantity">
                                                <label>Quantity ({{req.units}})</label>
                                                <input placeholder="{{req.ui.quantityLeft | posNum}}"
                                                       ng-model="req.ui.commentQuantity"
                                                       type="number" min="0" max="9999"/>
                                            </md-input-container>
                                            <md-button class="md-fab md-mini md-primary"
                                                       ng-click="confirmComment(comment.id)" ng-if="!req.resolved">
                                                <md-tooltip md-direction="top">Send comment</md-tooltip>
                                                <md-icon md-font-set="fa" md-font-icon="fa-check"></md-icon>
                                            </md-button>
                                        </md-card-actions>
                                    </md-card>
                                </form>
                            </div>
                        </div>

                        <md-chips ng-if="req.tags && req.tags.length > 0" ng-model="req.tags" readonly="true">
                            <md-chip-template><span ng-click="addTagToFilter($chip)">{{$chip.name}}</span>
                            </md-chip-template>
                        </md-chips>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="toggleComments(req)"
                                   ng-if="req.ui.showComments || ($root.user && !req.resolved)">
                            <md-tooltip md-direction="top">Toggle comments</md-tooltip>
                            <md-icon md-font-set="fa" md-font-icon="fa-comments"></md-icon>
                        </md-button>
                        <div layout="row" ng-if="inTeam()">
                            <md-button ng-click="deleteRequest(req.id)">
                                <md-tooltip md-direction="top">Delete request</md-tooltip>
                                <md-icon md-font-set="fa" md-font-icon="fa-trash-o"></md-icon>
                            </md-button>
                            <md-button ng-click="resolveRequest(req.id)">
                                <md-tooltip md-direction="top">Mark request as resolved</md-tooltip>
                                <md-icon md-font-set="fa" md-font-icon="fa-check"></md-icon>
                            </md-button>
                        </div>
                    </md-card-actions>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
    </section>

    <md-fab-speed-dial md-open="speedDial.isOpen" ng-if="inTeam()" md-direction="up"
                       class="md-scale md-fab-bottom-right md-hover-full place__speed-dial"
                       ng-mouseenter="speedDial.isOpen=true" ng-mouseleave="speedDial.isOpen=false">
        <md-fab-trigger id="place__speeddial">
            <md-button class="md-fab md-warn" aria-label="Trigger speed dial menu">
                <md-icon md-font-set="fa" md-font-icon="fa-wrench"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button id="place__speeddial-add-request" class="md-fab md-mini md-primary" ng-click="addRequest()">
                <md-tooltip md-direction="left" md-visible="speedDial.tooltipVisible">Add new request</md-tooltip>
                <md-icon md-font-set="fa" md-font-icon="fa-plus"></md-icon>
            </md-button>
            <md-button
                    href="/support/{{place.city.state.identifier}}/{{place.city.identifier}}/{{place.identifier}}/manage"
                    class="md-fab md-mini md-primary">
                <md-tooltip md-direction="left" md-visible="speedDial.tooltipVisible">Manage place</md-tooltip>
                <md-icon md-font-set="fa" md-font-icon="fa-cogs"></md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>

<script type="text/ng-template" id="addRequest.html">
    <md-dialog aria-label="Create new request-dialog" class="ng-cloak">
        <form name="addRequestForm" ng-submit="create()">
            <md-dialog-content layout="column">
                <md-toolbar>
                    <div class="md-toolbar-tools">Create new request</div>
                </md-toolbar>

                <div layout="column" layout-padding>
                    <md-input-container>
                        <label>Title</label>
                        <input id="new-request__title" md-autofocus ng-model="request.title" md-maxlength="20" required
                               name="title">
                        <div ng-messages="addRequestForm.title.$error">
                            <ng-message when="required">Title is required!</ng-message>
                            <ng-message when="md-maxlength">Title must not be longer than 20 characters!</ng-message>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Description</label>
                        <textarea id="new-request__description" ng-model="request.description" md-maxlength="400"
                                  cols="4" required name="description"></textarea>
                        <div ng-messages="addRequestForm.description.$error">
                            <ng-message when="required">Description is required!</ng-message>
                            <ng-message when="md-maxlength">Description must not be longer than 400 characters!
                            </ng-message>
                        </div>
                    </md-input-container>

                    <div layout="row">
                        <md-checkbox ng-model="expires" aria-label="Expires">
                            <span ng-hide="expires">Expires</span>
                        </md-checkbox>
                        <md-input-container ng-show="expires">
                            <label>Expires</label>
                            <input type="datetime-local" ng-model="date" ng-required="expires" min="{{minDate}}"
                                   name="expires">
                            <div ng-messages="addRequestForm.expires.$error">
                                <ng-message when="required">You have to set a date or uncheck Expires!</ng-message>
                                <ng-message when="min">Date must not be in the past!</ng-message>
                            </div>
                        </md-input-container>
                    </div>

                    <div>
                        <div layout="row">
                            <md-input-container>
                                <label>Quantity</label>
                                <input id="new-request__quantity" ng-model="request.quantity" type="number"
                                       min="0" max="9999" name="quantity"/>
                                <div ng-messages="addRequestForm.quantity.$error">
                                    <ng-message when="min,max">Quantity must be between 0 and 9999!</ng-message>
                                </div>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Units</label>
                                <input placeholder="Liters, bottles, people..." id="new-request__units" name="units"
                                       ng-model="request.units" ng-disabled="!request.quantity"
                                       ng-required="request.quantity" md-maxlength="15"/>
                                <div ng-messages="addRequestForm.units.$error">
                                    <ng-message when="required">You have to enter a unit if you're using quantity!
                                    </ng-message>
                                </div>
                            </md-input-container>
                        </div>
                    </div>

                    <md-chips ng-model="request.tags" md-autocomplete-snap md-require-match="false"
                              md-transform-chip="transformChip($chip)">
                        <md-autocomplete
                                md-selected-item="selectedTag"
                                md-search-text="searchText"
                                md-items="tag in queryTags(searchText)"
                                md-item-text="tag.name"
                                placeholder="Tags">
                            <span md-highlight-text="searchText">{{tag.name}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>
                              <strong>{{$chip.name}}</strong>
                            </span>
                        </md-chip-template>
                    </md-chips>
                </div>
            </md-dialog-content>
            <md-dialog-actions flex="none">
                <md-button class="md-fab" ng-click="cancel()">
                    <md-tooltip md-direction="up">Cancel</md-tooltip>
                    <md-icon md-font-set="fa" md-font-icon="fa-times"></md-icon>
                </md-button>
                <md-button type="submit" class="md-fab" id="new-request__create" ng-disabled="addRequestForm.$invalid">
                    <md-tooltip md-direction="up">Create</md-tooltip>
                    <md-icon md-font-set="fa" md-font-icon="fa-check"></md-icon>
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>