<div class="container">
    <div class="row">
        <form ng-submit="submit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" autofocus="true"
                       required="true" ng-model="user.username" disabled="disabled"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" pattern="|.{4,}"
                       placeholder="Want to change your password?"
                       title="Password has to have at least four characters" ng-model="user.password"/>
            </div>
            <div class="form-group">
                <label for="email">E-Mail (optional)</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="your@email.com" ng-model="user.email"/>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>