<div flex layout-padding>
    <form layout="column" ng-submit="register()">
        <md-input-container>
            <label>Username</label>
            <input autofocus required ng-model="user.username"/>
        </md-input-container>

        <md-input-container>
            <label>Password</label>
            <input type="password" pattern=".{4,}" required="true" ng-model="user.password"/>
        </md-input-container>

        <md-input-container>
            <label>E-Mail (optional)</label>
            <input type="email" ng-model="user.email"/>
        </md-input-container>

        <md-button type="submit">
            <md-tooltip md-direction="top">Register</md-tooltip>
            <md-icon md-font-set="fa" md-font-icon="fa-user-plus"></md-icon>
        </md-button>
    </form>
</div>