<div class="container">
    <div class="row">
        <h1>We only need an username and a password to secure your account!</h1>
    </div>

    <div class="row">
        <form ng-submit="register()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" autofocus="true"
                       required="true" ng-model="user.username"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" pattern=".{4,}"
                       required="true" ng-model="user.password"
                       title="Password has to have at least four characters"/>
            </div>
            <div class="form-group">
                <label for="email">E-Mail (optional)</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="your@email.com" ng-model="user.email"/>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>