<div layout="column" class="main-container">
    <md-input-container>
        <label>Filter</label>
        <input>
    </md-input-container>

    <div layout layout-padding layout-align="space-around center" layout-wrap>
        <md-card flex-xs="80" flex-sm="50" flex-gt-sm="33" ng-repeat="state in states">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{state.name}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <img ng-src="{{state.imagePath}}"/>
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button href="/support/{{state.identifier}}">Cities</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>