/* GENERAL */
body {
    font-family: "PT Serif", serif;
}

h1 {
    font-family: 'PT Sans', sans-serif;
}

.mainrow {
    height: 100%;
}
/* END GENERAL */



/* SIDEBAR */
.login md-input-container {
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar ul {
    padding-left: 0;
    width: 100%;
}

.sidebar li {
    height: 36px;
}

.sidebar li > * {
    margin: 0;
    width: 100%;
    text-align: center;
}
/* END SIDEBAR */