.navbar {
    background-image: linear-gradient(to bottom, #337AB7 0, #337AB7 100%);
}

.pic {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: linear-gradient(to bottom, #000 0, #666 100%);
}

.navbar .navbar-brand, .navbar .navbar-text, .navbar .navbar-link {
    color: #fff;
    font-family: 'PT Sans Caption', sans-serif;
}

.navbar-userarea {
    margin: 8px;
}

.dropdown-menu {
    padding: 0px;
    border-style: none;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: "PT Serif", serif;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    padding: 0px 10px;
}

.statistic-data {
    margin-bottom: 20px;
}

.statistic-data > div {
    font-size: 120%;
    margin-top: 10px;
}

.statistic-data h3 {
    margin-bottom: 25px;
}

.locationsearch {
    margin-top: 40px;
    margin-bottom: 35px;

    width: 70%;
}

.im-centered {
    margin-left: auto;
    margin-right: auto;
}

.box {
    border: 1px solid #C0C0C0;
    padding: 5px;
    margin: 10px 5px;
}

.filtertoggle label.btn {
    text-decoration: line-through;
}

.filtertoggle label.btn.active {
    text-decoration: none;
}

#donationrequests .request > div {
    padding-top: 0px;
    position: relative;
}

#donationrequests .request h3 {
    padding-top: 10px;
}

#donationrequests .request .requestlabel {
    width: 33%;
}

.justified-and-inlined div {
    display: inline-block;
}

.justified-and-inlined > :first-child {
    width: 25%;
    font-weight: bold;
}

.container-fluid.place {
    margin-left: 50px;
    margin-right: 50px;
}

#donationrequests .age {
    position: absolute;
    top: 2px;
    right: 2px;
    color: #999999;
    text-align: right;
}

#donationrequests .age time {
    font-size: 80%;
}

#donationrequests .request .comments {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.request.enroute > .panel {
    border-color: #f0ad4e;
}

.request.done > .panel, .comment.done.panel {
    border-color: #5cb85c;
}

.animate-repeat {
    box-sizing: border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition: all linear 0.25s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
}

.result {
    height: 186px;
    width: 146px;
}

.result .text {
    padding-left: 4px;
}

.result img {
    height: auto;
    width: 128px;
}

.navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar .options {
    margin: 8px;
    color: #fff;
}

.place .navbar .options .orga .glyphicon {
    color: white;
}

.tab-pane#members .row {
    margin: 15px;
}

div.current-member {
    margin-top: 5px;
}

/* Typeahead */
.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

.noautofill {
    display: none;
}

/* Status bar */
@keyframes fadein {
    from {
        max-height: 0px
    }
    to {
        max-height: 18px
    }
}

@keyframes fadeout {
    from {
        max-height: 18px
    }
    to {
        max-height: 0px
    }
}

.statusbar .message {
    animation: fadein 0.5s forwards;
    overflow: hidden;
}

.statusbar {
    max-height: 18px;
}

.statusbar .message.old {
    animation: fadeout 0.5s forwards;
}