/* GENERAL */
body {
    font-family: "PT Serif", serif;
}

h1 {
    font-family: 'PT Sans', sans-serif;
}

.main-container {
    text-align: center;
}

.main-container > * {
    margin-top: 16px;
    margin-bottom: 16px;
}

.full-height {
    height: 100%;
}
/* END GENERAL */



/* SIDEBAR */
.sidebar-toggle-fab {
    top: 5px;
    left: 5px;
    max-height: 56px;
}

.content-toolbar {
    max-height: 48px; /* otherwise sidebar fab would stretch it */
}

.login md-input-container {
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar ul {
    padding-left: 0;
    width: 100%;
}

.sidebar li {
    height: 36px;
}

.sidebar li > * {
    margin: 0;
    width: 100%;
    text-align: center;
}
/* END SIDEBAR */



/* DASHBOARD */
.dashboard__search md-input-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 300px;
}
/* END DASHBOARD */



/* PLACE */
.place__tag-filter {
    margin-bottom: 20px;
}

.donation-request__age {
    padding-top: 0 !important;
    font-size: xx-small !important;
}

.donation-request md-progress-linear .md-bar2 {
    /* bar for done quantity */
    background-color: #01579B !important;
}

.donation-request md-progress-linear .md-bar1 {
    /* bar for promised quantity */
    background-color: #039BE5 !important;
}

.donation-request md-card {
    height: 100%;
}

.donation-request.open > figure > md-card {
    box-shadow: 2px 2px 8px 1px #81D4FA;
}

.donation-request.enroute > figure > md-card {
    box-shadow: 2px 2px 8px 1px #039BE5;
}

.donation-request.done > figure > md-card {
    box-shadow: 2px 2px 8px 1px #01579B;
}

.donation-request__description {
    max-height: 200px;
    overflow-y: scroll;
}

.place__speed-dial {
    position: fixed !important;
    right: 5px !important;
    bottom: 5px !important;
}

.comments {
    max-height: 350px;
    overflow-y: scroll;
}

.comment md-card-header {
    padding-bottom: 0;
}

.comment md-card-content {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 0;
    padding-bottom: 0;
}

.comment md-card-actions {
    margin-top: 0;
}

.comment md-input-container {
    margin-top: 0;
    margin-bottom: 0;
}

.comment .comment__text {
    margin-top: 10px;
}

.comment__quantity label {
    width: 100%;
}
/* END PLACE */