<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" ng-app="crowdsupport">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <base th:href="@{/}"/>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption|PT+Sans|PT+Serif' rel='stylesheet'
          type='text/css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>
    <th:block th:if="${@config.isDebugEnabled()}">
        <link rel="stylesheet" th:href="@{/r/style/stylesheet.css}"/>
    </th:block>
    <th:block th:unless="${@config.isDebugEnabled()}">
        <link rel="stylesheet" th:href="@{'/r/min/all-' + ${@config.getVersion()} + '.css'}"/>
    </th:block>

    <th:block th:if="${@config.isDebugEnabled()}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.3/sockjs.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>

        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.3/jquery.timeago.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.3/ui-bootstrap-tpls.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

        <script th:src="@{/r/js/thirdparty/angular-ui-router-title.js}"></script>
        <script th:src="@{/r/js/thirdparty/angular-ui-datetimepicker.js}"></script>
        <script th:src="@{/r/js/global.js}"></script>
        <script th:src="@{/r/js/service/config.js}"></script>
        <script th:src="@{/r/js/service/websocket.js}"></script>
        <script th:src="@{/r/js/service/previousstate.js}"></script>
        <script th:src="@{/r/js/service/rest.js}"></script>
        <script th:src="@{/r/js/service/auth.js}"></script>
        <script th:src="@{/r/js/service/statusbar.js}"></script>
        <script th:src="@{/r/js/widget/timeago.js}"></script>
        <script th:src="@{/r/js/widget/searchWidget.js}"></script>
        <script th:src="@{/r/js/admin.js}"></script>
        <script th:src="@{/r/js/controller.js}"></script>
        <script th:src="@{/r/js/routing.js}"></script>
        <script th:src="@{/r/js/app.js}"></script>
    </th:block>
    <th:block th:unless="${@config.isDebugEnabled()}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.3/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.3/jquery.timeago.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.3/ui-bootstrap-tpls.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.min.js"></script>

        <script th:src="@{'/r/min/all-' + ${@config.getVersion()} + '.js'}"></script>
    </th:block>


    <title ng-bind="($title || 'Home') + ' - Crowdsupport'">Crowdsupport</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-left">
                <a class="navbar-brand" th:href="@{/}">Crowdsupport</a>
                <div class="navbar-text ng-cloak">
                    <span ng-repeat="crumb in $breadcrumbs" ng-class="{ 'active' : $last }">
                        <span ng-if="!$last"><a href="{{crumb.url}}" class="navbar-link">{{crumb.title}}</a> > </span>
                        <span ng-if="$last">{{crumb.title}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse ng-cloak">
            <div ng-controller="UserController" class="navbar-right navbar-userarea">
                <div ng-show="$root.auth">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span>{{$root.user.username}}</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li auth="ROLE_ADMIN"><a th:href="@{/admin}" class="btn btn-default">Admin panel</a></li>
                            <li><a th:href="@{/profile}" class="btn btn-default">Profile</a></li>
                            <li><a th:href="@{/request/newPlace}" class="btn btn-default">Request a new place</a></li>
                            <li><a href="" class="btn btn-default" ng-click="logout()">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="btn-group" id="login" role="group" ng-hide="$root.auth">
                    <form>
                        <input type="text" class="username" placeholder="Username..." ng-model="username"/>
                        <input type="password" class="password" placeholder="Password..." ng-model="password"/>
                        <button type="submit" class="btn btn-default" ng-click="login()">Login</button>
                        <a th:href="@{/register}" class="btn btn-default">Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>


<main ui-view="">
</main>

<div class="navbar navbar-fixed-bottom">
    <div class="navbar-text statusbar">
    </div>
</div>

</body>
</html>