<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="include/default :: head ('Login')"/>
<body>
<nav th:replace="include/default :: navbar"/>

<main class="container">
    <div class="row">
        <h1>Login</h1>
    </div>

    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <div class="row">
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                       th:autofocus="${username == null}" required="true" th:value="${username}"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" pattern=".{4,}"
                       required="true" th:autofocus="${username != null}"
                       title="Password has to have at least four characters"/>
            </div>
            <button type="submit" class="btn btn-default">Login!</button>
        </form>
    </div>
</main>


<div th:include="include/default :: scripts"/>
</body>
</html>