<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/default :: head ('Welcome!')"/>
<body>
<nav th:replace="include/default :: navbar"/>

<main class="container">
    <div class="row">
        <h1>Crowdsupport allows you to quickly see where your help is needed!</h1>
    </div>
    <div class="row">
        <input type="text" class="form-control locationsearch im-centered" placeholder="Type to search for a location"/>
    </div>


    <div class="row center-block">
        <div th:each="city : ${cities}" class="citybox col-md-2 col-sm-6 col-xs-6">
            <img th:src="${city.imagePath}" class="center-block"/>

            <div class="citytext">
                <span th:text="${city.name}">Cityname</span><br/>
                <span th:text="${city.state.name}">Statename</span>
            </div>
        </div>
    </div>
</main>


<div th:include="include/default :: scripts"/>
</body>
</html>