<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="include/default :: head ('Welcome')"/>
<body>
<nav th:replace="include/default :: navbar"/>

<main class="container">
    <div class="row">
        <h1>Crowdsupport allows you to quickly see where your help is needed!</h1>
    </div>
    <div class="row">
        <input type="text" class="form-control locationsearch im-centered" placeholder="Type to search states"/>
    </div>

    <div class="row center-block">
        <div th:each="state : ${states}" class="result box col-md-2 col-sm-6 col-xs-6">
            <a th:href="@{/support/{s}(s=${state.identifier})}">
                <img th:src="${state.imagePath}" class="center-block"/>

                <div class="text">
                    <span th:text="${state.name}">Statename</span>
                </div>
            </a>
        </div>
    </div>
</main>

<div th:include="include/default :: scripts"/>
</body>
</html>