<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="include/default :: head ('Can you help ' + ${place.name})"/>
<body ng-app="crowdsupport">
<nav th:replace="include/default :: navbar"/>

<main class="container">
    <div class="row">
        <nav class="navbar">
            <p class="navbar-text"><span th:text="${place.name}">Name of place</span> @ <span
                    th:text="${place.location}">Location</span>
                (<span th:text="${place.city.name}">State</span>)
            </p>

            <div class="navbar-right filtertoggle">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="checkbox" checked="checked"/> Open
                    </label>
                    <label class="btn btn-warning active">
                        <input type="checkbox" checked="checked"/> Waiting for confirmation
                    </label>
                    <label class="btn btn-success">
                        <input type="checkbox"/> Done
                    </label>
                </div>
            </div>
        </nav>
    </div>

    <donation-requests></donation-requests>
</main>

<div th:include="include/default :: scripts"/>
</body>
</html>