<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/default :: head ('Places in ' + ${city.name})"/>
<body>
<nav th:replace="include/default :: navbar"/>

<main class="container">
    <div class="row">
        <h1>These places in <span th:text="${city.name}">Vienna</span> need your support!</h1>
    </div>
    <div class="row">
        <input type="text" class="form-control locationsearch im-centered" placeholder="Type to search for a place"/>
    </div>

    <div class="row center-block">
        <div th:each="place : ${places}" class="resultbox col-md-2 col-sm-6 col-xs-6">
            <a th:href="'/support/' + ${place.city.state.identifier} + '/' + ${place.city.identifier} + '/' + ${place.identifier}">
                <img th:src="${place.imagePath}" class="center-block"/>

                <div class="text">
                    <span th:text="${place.name}">Name of place</span>
                    (<span th:text="${place.location}">Trainstation</span>)
                </div>
            </a>
        </div>
    </div>
</main>

<div th:include="include/default :: scripts"/>
</body>
</html>