<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" ng-app="crowdsupport">
<head th:replace="include/default :: head ('Request a new place')"/>
<body>
<nav th:replace="include/default :: navbar"/>

<main class="container">
    <div class="row" ng-controller="PlaceRequestCtrl as ctrl">
        <form  ng-submit="ctrl.submit()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" autofocus="true"
                       required="true" ng-model="name"/>
            </div>
            <div class="form-group">
                <label for="identifier">Identifier</label>
                <input type="text" class="form-control" id="identifier" name="identifier" placeholder="Unique identifier"
                       required="true" ng-model="identifier"/>
            </div>

            <div class="form-group" ng-hide="addCity">
                <!-- We don't want no AutoFill! See: https://code.google.com/p/chromium/issues/detail?id=468153#c106 -->
                <label for="cty">Ci<span style="display: none">This is a workaround for Chrome's stupid AutoFill feature</span>ty</label>
                <city-search ng-model="city" input-class="form-control" input-id="cty">
                    No city found - <a href="" ng-click="addCityInfo()">manually enter information for a new one!</a>
                </city-search>
            </div>
            <div class="form-group" ng-show="addCity">
                <label for="ctyname">Ci<span style="display: none">This is a workaround for Chrome's stupid AutoFill feature</span>ty name</label>
                <input type="text" class="form-control" id="ctyname" name="ctyname" placeholder="City name" ng-model="cityname"/>
                <label for="statename">State name</label>
                <input type="text" class="form-control" id="statename" name="statename" placeholder="State name" ng-model="statename"/>
                <a href="" ng-click="searchCity()">...back to search</a>
            </div>

            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location" placeholder="Location in city"
                       required="true" ng-model="location"/>
            </div>
            <input type="submit" class="btn btn-default" value="Request new place"/>
        </form>
    </div>
</main>

<th:block th:include="include/default :: footer"/>
</body>
</html>